:root {
  // colors
  --color-primary: #00a081;
  --color-warning: #f1b814;

  // section

  --bg-product-section: #f8f8f8;

  // --color-brand: #FFF748;
  // --bg-header: #182d43;
  // --bg-footer: #182d43;
}

// buefy variables
$primary: #00a081;
$warning: #f1b814;
// $warning: #f00;
// $danger:#f00;
