.splash {
  padding: 40px 0;
  position: relative;
}

.splash-content {
  position: relative;
  z-index: 10;
  max-width: 700px;
  font-size: 20px;
  line-height: 1.6;
  color: #fff;
}
.splash-content h1 {
  font-size: 47px;
  line-height: 1.2;
  margin: 0 0 20px;
  font-family: Lobster;
  font-weight: normal;
}
.page_home .splash-content h1 {
  color: var(--color-primary);
  background: linear-gradient(
    90deg,
    rgb(115, 255, 234) 0%,
    rgb(255, 255, 255) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.splash-content p {
  margin: 0 0 20px;
}
/* single splash */
.splash_single .splash-content h1 {
  color: #fff;
  display: inline-block;
  padding: 0 6px;
  margin-bottom: 0;
  background: var(--btn-primary);
}
@media screen and (min-width: 460px) {
  .splash-content h1 {
    font-size: 50px;
  }
}
@media screen and (min-width: 768px) {
  .splash-content h1 {
    font-size: 60px;
  }
}
